<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>BookLoan - Main</title>
</head>
<body>
    <h1>BookLoan Main Menu</h1>
    <ul>
        <li><a href="{% url 'catalog:loans_list' %}">Display all loans (combined query)</a></li>
        <li><a href="{% url 'catalog:borrower_search' %}">Show books borrowed by a person (parameter query)</a></li>
        <li><a href="{% url 'catalog:books_borrow_count' %}">Display borrow count per book (aggregate)</a></li>
        <li><a href="{% url 'catalog:add_borrower' %}">Add new borrower</a></li>
        <li><a href="{% url 'catalog:add_loan' %}">Add new loan</a></li>
        <li><a href="{% url 'catalog:add_book' %}">Add new book</a></li>
    </ul>
</body>
</html>
